#!/bin/sh

export JOB="$1"
export CLI="{{ jenkins_cli_cmd }}"
[ -z "$JOB" ] && exit 1
[ -d "{{jenkins_dest}}/jobs/$JOB" ] || $CLI create-job $JOB --username {{ jenkins_admin_user }} --password {{ jenkins_admin_password }} < {{jenkins_dest}}/jobs/${JOB}.xml
